.wholePage{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    /*align-items: center;*/
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 400px;
    /*background-color: rgba(255, 255, 255, 1);*/
    /*color: rgba(196, 196, 196, 1);*/
    border: 2px solid;
    border-radius: 5px;
    height: 30px;
}
.already{
    display: flex;
    flex-direction: row;
    gap: 195px;
    margin-left: 12px;
}

.inputPage{
    text-align: center;
    justify-content: center;
    margin-top: 11%;
}

.remember{
    display: flex;
    flex-direction: row;
}
/*.check{*/
/*    background-color: white;*/
/*}*/
.last{
    display: flex;
    flex-direction: row;
    gap: 190px;
}
.linking{
    margin-top: 3%;
}
