.wholePage{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height : max-content;
}
.value{
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 400px;
    /*background-color: rgba(255, 255, 255, 1);*/
    /*color: rgba(196, 196, 196, 1);*/
    border: 2px solid;
    border-radius: 5px;
    height: 30px;
}
.already{
    display: flex;
    flex-direction: row;
    gap: 180px;
    margin-left: 16px;
}
.already>p{
    font-family: Roboto, serif;
    font-size: 18px;
    font-weight: 370;
    line-height: 27px;
    text-align: center;
    top: 10px;
}
.inputPage{
    text-align: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 5%;
    background-color: white;
    width: 500px;
    height: 78vh;
}
.fillBut{
    margin-right: 11%;
}
.linking{
    margin-top: 5%;
}
